<%- include('header.ejs') %>

<style>
    .card {
        padding: 5px;
        background-color: #f5f5f5;
    }
    .container {
        padding-top: 20px; 
    }
    .padding-left{
        padding-left: 20px; 
    }
    .margin-card{
        margin: 20px;
    }
    .div{
        display: flex;    
        align-items: center;
        
    }
    
</style>


<div class="container">
    <div class="div">   
        <h2>Productos</h2> 
        <div class="row padding-left">
            <div class="col-md-12">
                <div class="padding">
                    <a href="/addproducto" class="btn btn-primary">Crear Usuario</a>
                </div>
            </div>
        </div>
    </div> 
    <div class="row">
        <% productos.forEach(producto => { %>
            <div class="col-md-4">
                <div class="card margin-card">
                    <div class="card-body">
                        <h5 class="card-title">Nombre: <%= producto.nom %></h5>
                        <p class="card-text">Precio: <%= producto.preu %></p>
                        <a href="/productos/<%= producto.id %>" class="btn btn-primary">Ver detalles</a>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>