body{
    background-color: bisque;

}
.cambio::after{
    content: '1900px';
}
@media screen and (max-width: 1024px){
    .cambio::after{
        content: '1024px';
    }
    body{
        background-color: aquamarine;
    }
}
@media screen and (max-width:480px){
    .cambio::after{
        content: '480px';
    }
    body{
        background-color: brown;
    }
}