body{
    background-color: bisque;
}
#todolist{
    width: 80%;
    margin: auto;
    
    box-shadow: 0px 0px 10px;
    border-radius: 10px;
}
#h1{
    display: flex;
    justify-content: center;
    background: linear-gradient(rgb(60, 113, 228), rgb(172, 62, 223));
    border-radius: 10px;
    color: white;
    box-shadow: 0px 0px 10px;
}
#insertar{
    width: 60%;
    margin: auto;
    border-radius: 10px;
    
    padding: 5px;
}
#lista{
    list-style: none;
}
#tareas{
    display: flex;
    background-color: rgb(110, 204, 173);
}
ul{
    margin: 0;
    padding: 0;
}
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
ul li:nth-child(odd) {
    background: #f9f9f9;
}
ul li:hover {
    background: #ddd;
}
ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}
.close:hover {
    background-color: #f44336;
    color: white;
}
.cabeza {
    background: linear-gradient(rgb(172, 62, 223), rgb(60, 113, 228));
    padding: 30px 40px;
    color: white;
    text-align: center;
}
.cabeza:after {
    content: "";
    display: table;
    clear: both;
}
input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}
.añadir {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}
.añadir:hover {
    background-color: #bbb;
}
#divinput{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 0px 5px;
}
.ordenar {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}
.ordenar:hover {
    background-color: #bbb;
}

  