nav{
    background-color: rgb(47, 146, 125);
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
} 
.lista{
    list-style: none;
    align-self: center;
}
.lista ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.lista li{
    display:inline;
    padding: 10px;
    background-image: linear-gradient(
      to right,
      #000000,
      #000000 50%,
      #faebd7 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
    margin-left: 10px;
}
    .lista li::before{
        content: '';
    background: #000000;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
    }
    .lista li:hover {
        background-position: 0;
       }
       .lista li:hover::before {
        width:100%;
      }
a{
    color: #ffffff;
}
h2{
    font-weight: bold;
    color: white;
    padding-left: 20px;
    align-self:center;
}
.busqueda{
    align-self: center;
    padding-right: 20px;
}
#busca{
    border-radius: 5px;
}
body{
    background-color: rgb(204, 195, 195);
    
}
main{
    display: grid;
    grid-template-rows:[uno] 3fr [dos] 3fr [tres] 4.5fr [cuatro] 3fr [cinco];
}
.About{
    grid-row: uno / dos;
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    justify-content: space-around;
    
}
#about1{
    align-self: center;
    width: 60%;
    padding-right: 35px;
}
#about1 h1 {
    font-size: 35px;
}

#about2{
    align-self: center;
    width: 40%;
    flex-shrink: 2;
    padding-top: 20px;
    
}
#imagen1{
    border-radius: 10px;
    width: 100%;
   height: 300px ;
}
.Serveis{
    grid-row: dos / tres;
    width: 80%;
    margin: auto;
}
.Serveis h1 {
    font-size: 35px;
}
#Servicios{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding-top: 20px;
}
.texto{
    height: 50%;
    align-self: center;
}
.icono{
   height: 50%;
   width: 80%;
   align-self: center;
}
.H3E{
    color: rgb(47, 146, 125);
}   
.equipo{
    background-color: azure;
    align-self: center;
    /* margin: 20px; */
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 15px black;
    transition: transform 0.3s ease-in-out;
    height: 265px;
    display: flex;
    flex-direction: column;
}
.equipo:hover{
    transform: scale(1.05);
}
.motiv{
    width: 170px;
    margin: auto;
    padding: auto;
}
.Portfolio{
    grid-row: tres / cuatro;
    width: 80%;
    margin: auto;  
}
.Portfolio h1{
    font-size: 35px;
}
#Proyecto{
    display: flex;
    display: grid;
    grid-template-columns:[one] 1fr [two] 1fr [three] 1fr [four];
    overflow: hidden;
}
#proyecto1{
    grid-column:one/two;
}
#proyecto2{
    grid-column: two/three;
}
#proyecto3{
    grid-column: three/four;
}
.proyectos{
    background-color:azure;
    align-self: center;
    box-shadow: 0px 0px 15px black;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;
    margin: 20px;
    display: flex;
    flex-direction: column;
    
}
.proyectos h3{
    color: rgb(47, 146, 125);
}
.proyectos a{
    color:rgb(47, 146, 125)
}
.proyectos:hover{
    transform: scale(1.05);
}
.imgpro{
    width: 100%;
    height: 300px ;
    border-radius: 20px;
    align-self: center;
}
.texpro{
    padding: 20px;
    align-self: center;
}
.Contacte{
    width: 80%;
    margin: auto;
}
.precont{
    text-align: center;
}
.precont h3 {
    font-size: 22px;
}
#formus{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.forms{
   display: flex;
   flex-direction: column;
   margin: 5px;
}
#form4{
    align-self: center;
}
#submit{
    color: white;
    background-color: rgb(47, 146, 125);
    border-radius: 5px;
    padding: 5px;
}
.inputs{
    width: 800px;
}
footer{
    background-color: #131111;
    margin-top: 20px;
}
#foots{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    padding: 15px;
}
#foot1{
    width: 165px;
}

.items{
    padding-right: 20px;
}
.footies ul{
    list-style: none;
    list-style: none;
    margin-left: 5px;
    padding-left: 5px;
    border-bottom: 3cm;
}
@media screen and (max-width:1024px){
    nav::after{
        background-color: rgb(47, 146, 125);
        padding: 5px;
        margin: 5px;
        display: flex;
        justify-content: space-between;
        content: '☰';
        color: aliceblue;
        font-size: 50px;

    }
    .lista>ul{
        display: none;
    }
    

    .busqueda{
        align-self: center;
        padding-right: 20px;
    }
    h2{
        font-weight: bold;
        color: white;
        padding-left: 20px;
        align-self: center;
    }
    #busca{
        border-radius: 5px;
    }
}
@media screen and (max-width:480px){

    nav::after{
        background-color: rgb(47, 146, 125);
        padding: 5px;
        margin: 5px;
        display: flex;
        justify-content: space-between;
        content: '☰';
        color: aliceblue;
        font-size: 50px;
    }
    form{
        display: none;
    }
    h2{
        font-weight: bold;
        color: white;
        padding-left: 20px;
        align-self:center;
    }
}
