body{
    background-color:darksalmon;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#titulodiv{
    background: linear-gradient(rgb(226, 123, 140), rgb(153, 98, 224));
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
#comentarios{
    background: linear-gradient(rgb(226, 123, 140), rgb(153, 98, 224));
    border-radius: 10px;
    display: flex;
    
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 5px;
}

#form1{
    display: flex;
    flex-direction: column;
}
#precoments{
    padding: 15px;
}
#lista{
    list-style: disc;
    
}
#bsub{
    margin: 5px;
}
#boton{
    margin: 5px;
}
#input{
    margin: 5px;
}
label{
    margin: 5px;
}
.eliminar {
    background-color: #6773df; /* Rojo */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    transition-duration: 0.4s;
    cursor: pointer;
    
}

.eliminar:hover {
    background-color: white;
    color: black;
}